html, body, p, nav, div {
    margin: 0;
    padding: 0;
}

:root {
    --yellow: #f2af13;
    --lightYellow: #fff8e8;
}

body {
    background: var(--lightYellow);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.5em;
    font-weight: normal;
}

nav {
    background: var(--yellow);
    color: #fff;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#navRight ul, #navRight li {
    display: inline;
}

#navLeft, #navRight {
    margin: 0.3em 3em;
    background: var(--yellow);
}

#navRight a {
    margin-left: 1em; 
}

#pageBody {
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

article {
    background: #fff;
    width: 11em;
    margin: 0.3em;
    border: 2px solid var(--yellow);
    border-radius: 0.3em;
    padding: 1em;
    text-align: left;
}

article p {
    margin-left: 1em;
    font-size: 0.95em;
}

.moreInfo {
    background: var(--yellow);
    display: block;
    margin: 0.8em -0.3em 0.4em -0.3em;
    padding: 0.3em;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
    font-size: 0.95em;
}